<div class="container mt-5">
    <h1 class="text-center text-primary fw-bold">Create New To-Do Item</h1>
    <div class="card shadow-lg p-4 mt-4">
        <form action="/Home/Create" method="post">
            <div class="form-group mb-3">
                <label for="Name" class="fw-semibold">Your Name</label>
                <input type="text" class="form-control rounded-pill shadow-sm" id="Name" aria-describedby="nameHelp" placeholder="Enter your name" name="userName" required>
                <small id="name" class="form-text text-muted">Store it also in a cookie (1 day)</small>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg rounded-pill shadow-lg">
                    <i class="bi bi-check-lg"></i> Submit
                </button>
            </div>
        </form>
    </div>
</div>
