@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary fw-bold">Welcome</h1>
    <h3 class="text-secondary">Start Organizing Your Tasks And Stay Productive</h3>
    <h3 class="mb-4 text-secondary">Get Started By Creating Your First To-Do Item</h3>

    <a href="/Home/Create" class="btn btn-primary btn-lg shadow-lg rounded-pill px-4 py-2">
        <i class="bi bi-plus-lg"></i> Create New To-Do Item
    </a>
</div>
